.content__circle {
    animation-name: <имя ключевых кадров>, <имя ключевых кадров №2>;
    /*отвечает за продолжительность анимации*/
        /*время записывается в секундах*/
    animation-duration: <время>, <время №2>;
    /*Задаёт сценарий развития анимации между ключевыми кадрами*/
    animation-timing-function: <имя>, <имя №2>;
}